<%- layout("layouts/boilerplate") %>

<style>
  #filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .filter {
    text-align: center;
    margin-right: 2rem;
    opacity: 1;
  }
  .filter:hover {
    opacity: 0.7;
    cursor: pointer;
  }
  .tax-info{
    display: none;
  }
  .tax-toggle{
    border: 1px solid black;
    border-radius: 1rem;
    height: 3.25rem;
    padding: 1rem;
    margin-left: 3rem;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
</style>

<div id="filters">
  <div class="filter">
    <div><i class="fa-solid fa-fire"></i></div>
    <p>Trending</p>
  </div>
  <div class="filter">
    <div><i class="fa-solid fa-bed"></i></div>
    <p>Rooms</p>
  </div>
  <div class="filter">
    <div><i class="fa-solid fa-mountain-city"></i></div>
    <p>Iconic Cities</p>
  </div>
  <div class="filter">
    <div><i class="fa-solid fa-mountain"></i></div>
    <p>Mountains</p>
  </div>
  <div class="filter">
    <div><i class="fa-solid fa-person-swimming"></i></div>
    <p>Amanzing Pools</p>
  </div>
  <div class="filter">
    <div><i class="fa-solid fa-campground"></i></div>
    <p>Camping</p>
  </div>
  <div class="filter">
    <div><i class="fa-solid fa-cow"></i></div>
    <p>Farms</p>
  </div>
  <div class="filter">
    <div><i class="fa-regular fa-snowflake"></i></div>
    <p>Arctic</p>
  </div>
  <div class="filter">
    <div><i class="fa-solid fa-igloo"></i></div>
    <p>Domes</p>
  </div>
  <div class="filter">
    <div><i class="fa-solid fa-sailboat"></i></div>
    <p>Botes</p>
  </div>
  
  <div class="tax-toggle">
    <div class="form-check-reverse form-switch">
      <input
        class="form-check-input"
        type="checkbox"
        value=""
        id="checkNativeSwitch"
        switch
      />
      <label class="form-check-label" for="checkNativeSwitch">
        Display Taxes
      </label>
    </div>
  </div>
</div>

<% if (typeof searchQuery !== "undefined" && searchQuery.trim() !== "") { %>
  
  <% if (allListings.length === 0) { %>
    <p class="text-muted">No listings found matching your search.</p>
  <% } %>
<% } %>

<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
  <% for(let listing of allListings){ %>
  <a href="/listings/<%= listing._id %>" class="card-links">
    <div class="card listing-card">
      <img
        src="<%= listing.image.url %>"
        class="card-img-top"
        alt="listingImages"
        style="height: 20rem"
      />
      <div class="card-img-overlay"></div>
      <div class="card-body">
        <p class="card-text">
          <b class="title"><%= listing.title %></b>
          <br />
          Price : &#8377;<%= listing.price ?
          listing.price.toLocaleString("en-IN") : 'N/A' %> / night
          <i class="tax-info"> &nbsp; &nbsp; +18% GST</i>
        </p>
      </div>
    </div>
  </a>
  <% } %>
</div>

<script>
  let taxSwitch = document.getElementById("checkNativeSwitch");
  taxSwitch.addEventListener("click",()=>{
    let taxInfo = document.getElementsByClassName("tax-info");
    for(info of taxInfo) {
      if(info.style.display != "inline"){
        info.style.display = "inline";
      }else{
        info.style.display = "none";
      }
    }
  })
</script>